dual_code_auditor_wf.json
{
  "updatedAt": "2026-07-18T13:56:52.258Z",
  "createdAt": "2026-07-07T11:31:54.805Z",
  "id": "claudeDualCodeAuditor01",
  "name": "Dual Code Auditor (Claude Build)",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        304
      ],
      "id": "1a111111-1111-1111-1111-111111111101",
      "name": "Chat Trigger",
      "webhookId": "45ffb934-b0fa-45ca-9d5e-02db77995c77"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the source code to analyze: {{ $json.chatInput }}. Please execute your Red Team analysis.",
        "options": {
          "systemMessage": "אתה מומחה סייבר התקפי ואנליסט Red Team בכיר. תפקידך לבצע ניתוח מעמיק לקוד שסופק ולאתר חולשות אבטחה (כגון SQL Injection, XSS, Broken Auth). לכל חולשה, עליך להפיק דוח הכולל:\nתיאור טכני של הפגיעות.\nהוכחת היתכנות (PoC) המדגימה ניצול מעשי.\nמדדי CVSS 3.1 מלאים: עליך לחשב את ה-Exploitability Metrics (מדד המאמץ: AV, AC, PR, UI) ואת ה-Impact Metrics (מדד הנזק לפי CIA: Confidentiality, Integrity, Availability).\nCVSS Vector String: חובה להציג את המחרוזת המלאה כגון CVSS:3.1/AV:N/AC:L/PR:N/UI:R/S:U/C:H/I:L/A:N. התייחס למחרוזת זו כאל תעודת הזהות של החולשה."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -128,
        304
      ],
      "id": "1a111111-1111-1111-1111-111111111102",
      "name": "Red Team Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -160,
        528
      ],
      "id": "1a111111-1111-1111-1111-111111111103",
      "name": "Red Team Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "LPxrYTHtpQAaan8j",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Red Team Agent\"].json.output }}",
        "options": {
          "systemMessage": "אתה ארכיטקט אבטחה מצוות ה-Blue Team. תפקידך לבצע ריפוי (Self-Healing) לקוד הפגיע. עליך לעבור על דוח הסוכן האדום ולהתייחס ספציפית למדדי ה-CVSS שנמצאו. לדוגמה: אם ה-Attack Vector הוא Network, עליך להוסיף ולידציית קלט קשיחה. הפלט שלך חייב לכלול:\nאת גרסת הקוד המתוקנת במלואה.\nהסבר מפורט על התיקונים שבוצעו וכיצד הם חוסמים את ה-PoC שהציג הסוכן האדום תוך שמירה על עקרונות ה-CIA (סודיות, אמינות וזמינות)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        224,
        304
      ],
      "id": "1a111111-1111-1111-1111-111111111104",
      "name": "Blue Team Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        144,
        528
      ],
      "id": "1a111111-1111-1111-1111-111111111105",
      "name": "Blue Team Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "LPxrYTHtpQAaan8j",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "original_code",
              "value": "={{ $('Chat Trigger').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "vulnerability_report",
              "value": "={{ $node[\"Red Team Agent\"].json.output }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "cvss_vector_string",
              "value": "={{ $node[\"Red Team Agent\"].json.output.match(/CVSS:3\\.1\\/[A-Z:\\/]+/) }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "fixed_code",
              "value": "={{ $node[\"Blue Team Agent\"].json.output }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "full_report",
              "value": "=# דוח ביקורת קוד כפול\n\nExecutive Summary\n\n## CVSS וניתוח ווקטור התקיפה\n{{ $node[\"Red Team Agent\"].json.output.match(/CVSS:3\\.1\\/[A-Z:\\/]+/) }}\n\n{{ $node[\"Red Team Agent\"].json.output }}\n\n---\n\n{{ $node[\"Blue Team Agent\"].json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        304
      ],
      "id": "1a111111-1111-1111-1111-111111111106",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.full_report }}",
        "name": "Claude_Test_Dual_Code_Auditor_Log.txt",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        304
      ],
      "id": "1a111111-1111-1111-1111-111111111107",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YK2uWLU1IvWttgTg",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        528,
        656
      ],
      "id": "d527653c-fa06-4f67-83fc-114c7aa2b71d",
      "name": "Get a repository",
      "webhookId": "fca153ea-7415-4b31-b650-a37620adc324"
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Red Team Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Red Team Agent": {
      "main": [
        [
          {
            "node": "Blue Team Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Red Team Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Red Team Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Blue Team Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blue Team Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Blue Team Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Chat Trigger": [
      {
        "json": {
          "chatInput": "def get_user_data(username):\n    # Vulnerable SQL query\n    query = \"SELECT * FROM users WHERE username = '\" + username + \"';\"\n    cursor.execute(query)\n    return cursor.fetchall()",
          "sessionId": "test-session-001"
        }
      }
    ]
  },
  "versionId": "9b58fcd3-e05c-4255-9122-0428b5566c4d",
  "activeVersionId": null,
  "versionCounter": 34,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-07-07T11:31:54.811Z",
      "createdAt": "2026-07-07T11:31:54.811Z",
      "role": "workflow:owner",
      "workflowId": "claudeDualCodeAuditor01",
      "projectId": "3M5Y2p1BWcRmWlhZ",
      "project": {
        "updatedAt": "2026-04-15T09:36:43.697Z",
        "createdAt": "2026-04-15T09:34:58.425Z",
        "id": "3M5Y2p1BWcRmWlhZ",
        "name": "Amit Yoel Levi <amit25119@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "01f01b17-0e34-46dd-90bf-a3c2b1ac1aba"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}