dual_code_auditor_wf_updated.json
{
  "name": "Dual Code Auditor (Claude Build)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -640,
        304
      ],
      "id": "1a111111-1111-1111-1111-111111111101",
      "name": "Chat Trigger",
      "webhookId": "45ffb934-b0fa-45ca-9d5e-02db77995c77"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the source code to analyze: {{ $json.code_to_analyze }}. Please execute your Red Team analysis.",
        "options": {
          "systemMessage": "אתה מומחה סייבר התקפי ואנליסט Red Team בכיר. תפקידך לבצע ניתוח מעמיק לקוד שסופק ולאתר חולשות אבטחה (כגון SQL Injection, XSS, Broken Auth). לכל חולשה, עליך להפיק דוח הכולל:\nתיאור טכני של הפגיעות.\nהוכחת היתכנות (PoC) המדגימה ניצול מעשי.\nמדדי CVSS 3.1 מלאים: עליך לחשב את ה-Exploitability Metrics (מדד המאמץ: AV, AC, PR, UI) ואת ה-Impact Metrics (מדד הנזק לפי CIA: Confidentiality, Integrity, Availability).\nCVSS Vector String: חובה להציג את המחרוזת המלאה כגון CVSS:3.1/AV:N/AC:L/PR:N/UI:R/S:U/C:H/I:L/A:N. התייחס למחרוזת זו כאל תעודת הזהות של החולשה."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        0,
        288
      ],
      "id": "1a111111-1111-1111-1111-111111111102",
      "name": "Red Team Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -160,
        528
      ],
      "id": "1a111111-1111-1111-1111-111111111103",
      "name": "Red Team Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "LPxrYTHtpQAaan8j",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Red Team Agent\"].json.output }}",
        "options": {
          "systemMessage": "אתה ארכיטקט אבטחה מצוות ה-Blue Team. תפקידך לבצע ריפוי (Self-Healing) לקוד הפגיע. עליך לעבור על דוח הסוכן האדום ולהתייחס ספציפית למדדי ה-CVSS שנמצאו. לדוגמה: אם ה-Attack Vector הוא Network, עליך להוסיף ולידציית קלט קשיחה. הפלט שלך חייב לכלול:\nאת גרסת הקוד המתוקנת במלואה.\nהסבר מפורט על התיקונים שבוצעו וכיצד הם חוסמים את ה-PoC שהציג הסוכן האדום תוך שמירה על עקרונות ה-CIA (סודיות, אמינות וזמינות)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        288,
        288
      ],
      "id": "1a111111-1111-1111-1111-111111111104",
      "name": "Blue Team Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        144,
        528
      ],
      "id": "1a111111-1111-1111-1111-111111111105",
      "name": "Blue Team Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "LPxrYTHtpQAaan8j",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "original_code",
              "value": "={{ $json.code_to_analyze }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "vulnerability_report",
              "value": "={{ $node[\"Red Team Agent\"].json.output }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "cvss_vector_string",
              "value": "={{ $node[\"Red Team Agent\"].json.output.match(/CVSS:3\\.1\\/[A-Z:\\/]+/) }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "fixed_code",
              "value": "={{ $node[\"Blue Team Agent\"].json.output }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "full_report",
              "value": "=# דוח ביקורת קוד כפול\n\nExecutive Summary\n\n## CVSS וניתוח ווקטור התקיפה\n{{ $node[\"Red Team Agent\"].json.output.match(/CVSS:3\\.1\\/[A-Z:\\/]+/) }}\n\n{{ $node[\"Red Team Agent\"].json.output }}\n\n---\n\n{{ $node[\"Blue Team Agent\"].json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        288
      ],
      "id": "1a111111-1111-1111-1111-111111111106",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.full_report }}",
        "name": "Claude_Test_Dual_Code_Auditor_Log.txt",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        800,
        288
      ],
      "id": "1a111111-1111-1111-1111-111111111107",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YK2uWLU1IvWttgTg",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularRef"
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        528,
        656
      ],
      "id": "d527653c-fa06-4f67-83fc-114c7aa2b71d",
      "name": "Get a repository",
      "webhookId": "fca153ea-7415-4b31-b650-a37620adc324"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -608,
        112
      ],
      "id": "1a111111-1111-1111-1111-111111111110",
      "name": "GitHub Webhook",
      "webhookId": "5384d033-b093-4781-8df1-9cefc2cec705"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.body.repository.full_name }}/pulls/{{ $json.body.number }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3.diff"
            },
            {
              "name": "User-Agent",
              "value": "n8n-dual-code-auditor"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        112
      ],
      "id": "1a111111-1111-1111-1111-111111111111",
      "name": "Get PR Diff"
    },
    {
      "parameters": {
        "jsCode": "const diffText = items[0].json.data || items[0].json.response || items[0].json;\nreturn [{\n  json: {\n    code_to_analyze: typeof diffText === 'string' ? diffText : JSON.stringify(diffText),\n    source: 'github',\n    repo_owner: $('GitHub Webhook').item.json.body.repository.owner.login,\n    repo_name: $('GitHub Webhook').item.json.body.repository.name,\n    pr_number: $('GitHub Webhook').item.json.body.number,\n    branch: $('GitHub Webhook').item.json.body.pull_request.head.ref,\n    file_path: (typeof diffText === 'string' ? (diffText.match(/\\+\\+\\+ b\\/(.+)/) || [])[1] : '') || 'main.py'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        112
      ],
      "id": "1a111111-1111-1111-1111-111111111112",
      "name": "Parse Diff"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sa1",
              "name": "code_to_analyze",
              "value": "={{ $json.code_to_analyze }}",
              "type": "string"
            },
            {
              "id": "sa2",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "sa3",
              "name": "repo_owner",
              "value": "={{ $json.repo_owner }}",
              "type": "string"
            },
            {
              "id": "sa4",
              "name": "repo_name",
              "value": "={{ $json.repo_name }}",
              "type": "string"
            },
            {
              "id": "sa5",
              "name": "pr_number",
              "value": "={{ $json.pr_number }}",
              "type": "number"
            },
            {
              "id": "sa6",
              "name": "branch",
              "value": "={{ $json.branch }}",
              "type": "string"
            },
            {
              "id": "sa7",
              "name": "file_path",
              "value": "={{ $json.file_path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        112
      ],
      "id": "1a111111-1111-1111-1111-111111111113",
      "name": "Set GitHub Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sc1",
              "name": "code_to_analyze",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "sc2",
              "name": "source",
              "value": "chat",
              "type": "string"
            },
            {
              "id": "sc3",
              "name": "repo_owner",
              "value": "",
              "type": "string"
            },
            {
              "id": "sc4",
              "name": "repo_name",
              "value": "",
              "type": "string"
            },
            {
              "id": "sc5",
              "name": "pr_number",
              "value": 0,
              "type": "number"
            },
            {
              "id": "sc6",
              "name": "branch",
              "value": "",
              "type": "string"
            },
            {
              "id": "sc7",
              "name": "file_path",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        304
      ],
      "id": "1a111111-1111-1111-1111-111111111114",
      "name": "Set Chat Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "type": "string",
            "value": ""
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.source }}",
              "rightValue": "github",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        992,
        288
      ],
      "id": "1a111111-1111-1111-1111-111111111115",
      "name": "If GitHub Source"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "issueComment",
        "owner": {
          "__rl": true,
          "value": "={{ $json.repo_owner }}",
          "mode": "id"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repo_name }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1216,
        144
      ],
      "id": "1a111111-1111-1111-1111-111111111116",
      "name": "GitHub PR Comment",
      "webhookId": "b7e5237f-5563-41c2-aafc-5e9d485d63b0"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $json.repo_owner }}",
          "mode": "id"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repo_name }}",
          "mode": "id"
        },
        "filePath": "={{ $json.file_path }}",
        "fileContent": "={{ $json.fixed_code }}",
        "commitMessage": "Secure fix for vulnerability (Auto-healed by Blue Team)"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1424,
        144
      ],
      "id": "1a111111-1111-1111-1111-111111111117",
      "name": "GitHub Push Commit",
      "webhookId": "06164754-c339-483c-b604-a9969bf7954a"
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Set Chat Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Red Team Agent": {
      "main": [
        [
          {
            "node": "Blue Team Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Red Team Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Red Team Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Blue Team Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blue Team Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Blue Team Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Chat Input": {
      "main": [
        [
          {
            "node": "Red Team Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "Get PR Diff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PR Diff": {
      "main": [
        [
          {
            "node": "Parse Diff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Diff": {
      "main": [
        [
          {
            "node": "Set GitHub Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set GitHub Input": {
      "main": [
        [
          {
            "node": "Red Team Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "If GitHub Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If GitHub Source": {
      "main": [
        [
          {
            "node": "GitHub PR Comment",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "GitHub PR Comment": {
      "main": [
        [
          {
            "node": "GitHub Push Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}