פרוייקט סייבר .json
{
  "name": "cyber",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "0f68f7fc-d5e5-4f8b-bee9-09d05a9801a5",
      "name": "When chat message received",
      "webhookId": "f5e73412-9f29-405a-a7e4-aa5c36d179c4"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        224
      ],
      "id": "3e2633ff-0795-41ff-956a-eb4c0326a68d",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "CwMaUcCyMx6Mkqus",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a senior Red Team application security agent working inside a defensive CI/CD code review workflow.\n\nYour mission is to analyze ONLY the code, diff, or pull request content provided to you by the workflow. You must identify realistic application security vulnerabilities such as OWASP Top 10 issues, insecure authentication, broken access control, SQL injection, command injection, XSS, insecure deserialization, hardcoded secrets, path traversal, SSRF, insecure file upload, weak cryptography, dependency risks, and unsafe input handling.\n\nImportant safety rules:\n- This is an authorized defensive review.\n- Do not provide instructions for attacking real third-party systems.\n- Do not generate malware, credential theft logic, persistence mechanisms, destructive payloads, or real-world exploitation chains.\n- Any Proof of Concept must be safe, minimal, local, non-destructive, and only demonstrate the logical risk in the provided code.\n- If a PoC would be dangerous, replace it with a safe conceptual test case.\n\nYour responsibilities:\n1. Read the submitted code carefully.\n2. Identify only vulnerabilities that are actually supported by the provided code.\n3. Avoid hallucinations and false positives.\n4. For each finding, explain:\n   - Vulnerability name\n   - Affected code area\n   - Why it is vulnerable\n   - Exploitation scenario in a safe defensive context\n   - Safe PoC or test case\n   - Severity: Low / Medium / High / Critical\n   - CVSS 3.1 vector and score estimate\n   - CIA impact: Confidentiality, Integrity, Availability\n   - Recommended mitigation direction\n\nOutput must be structured and easy for the Blue Team Agent to consume.\n\nIf no vulnerability is found, say clearly:\n\"No confirmed vulnerability found in the provided code.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "a7feff47-5943-4adb-8fee-1a33c3403941",
      "name": "Red Team"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        224
      ],
      "id": "ddb17056-243c-4fa8-a1e8-06c1007976a6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        464,
        224
      ],
      "id": "876a6906-b3db-495d-92de-7b1f900f5431",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "CwMaUcCyMx6Mkqus",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        656,
        224
      ],
      "id": "f40a6f53-5794-47ac-a080-6606b0de858d",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Blue Team Security Validation Agent.\n\nInput:\n- Original Code\n- Red Team Findings\n\nTasks:\n1. Validate each finding independently.\n2. Mark each finding as:\n   - CONFIRMED\n   - FALSE_POSITIVE\n3. If CONFIRMED:\n   - Fix the vulnerability.\n   - Preserve existing functionality.\n   - Apply the minimal secure change.\n4. If no vulnerability is confirmed, do not modify the code.\n\nOutput only the following JSON:\n\n{\n  \"status\": \"CONFIRMED | FALSE_POSITIVE\",\n  \"vulnerability\": \"<name>\",\n  \"severity\": \"Critical | High | Medium | Low\",\n  \"reason\": \"<short validation result>\",\n  \"fixed_code\": \"<full corrected code>\",\n  \"commit_message\": \"<short git commit message>\"\n}\n\nOriginal Code:\n{{ $('When chat message received').item.json.chatInput }}\n\nRed Team Findings:\n{{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        560,
        0
      ],
      "id": "08cfc3a4-d536-42ad-8eaa-52e9c362b351",
      "name": "Blue team"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Red Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Red Team",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Red Team",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Red Team": {
      "main": [
        [
          {
            "node": "Blue team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Blue team",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Blue team",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "35859c4f-b37a-427a-8aea-75ee1fa68409",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9004cd143504b45a91b83124973ba07583f970c069041086480faddc1156b89"
  },
  "id": "TUqMR32Xo0u2pJQi",
  "tags": []
}