ready_for_upload/dual_code_auditor_wf_updated.json
{
  "id": "dualCodeAuditor01",
  "name": "Dual Code Auditor (Claude Build)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scan-code",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -960,
        480
      ],
      "id": "1a111111-1111-1111-1111-111111111101",
      "name": "Code Scan Webhook",
      "webhookId": "45ffb934-b0fa-45ca-9d5e-02db77995c77"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sc1",
              "name": "code_to_analyze",
              "value": "={{ $json.body.code }}",
              "type": "string"
            },
            {
              "id": "sc2",
              "name": "source",
              "value": "manual",
              "type": "string"
            },
            {
              "id": "sc3",
              "name": "repo_owner",
              "value": "",
              "type": "string"
            },
            {
              "id": "sc4",
              "name": "repo_name",
              "value": "",
              "type": "string"
            },
            {
              "id": "sc5",
              "name": "pr_number",
              "value": 0,
              "type": "number"
            },
            {
              "id": "sc6",
              "name": "branch",
              "value": "",
              "type": "string"
            },
            {
              "id": "sc7",
              "name": "file_path",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        480
      ],
      "id": "1a111111-1111-1111-1111-111111111114",
      "name": "Set Chat Input"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1184,
        160
      ],
      "id": "1a111111-1111-1111-1111-111111111110",
      "name": "GitHub Webhook",
      "webhookId": "5384d033-b093-4781-8df1-9cefc2cec705"
    },
    {
      "parameters": {
        "jsCode": "// ---------------------------------------------------------------------------\n// Verify Request  —  שכבת אימות לוובהוק הציבורי.\n//\n// ללא הנוד הזה כל אדם באינטרנט יכול לשלוח JSON שרירותי, לגרום למערכת למשוך\n// כל ריפו שהוא, לשרוף טוקנים של ה-LLM ואף לדחוף Commit עם ה-OAuth token שלנו.\n//\n// שני מסלולי אימות:\n//   1. בקשה שמגיעה מ-GitHub  -> אימות חתימת HMAC-SHA256 (x-hub-signature-256)\n//      מול הסוד המשותף שהוגדר ב-Webhook Secret של הריפו.\n//   2. בקשה ידנית מדף התצוגה -> אין חתימה, ולכן מותרים רק מאגרים שנמצאים\n//      ברשימת ההיתר (allow-list) של הפרויקט.\n//\n// הנוד אינו זורק שגיאה אלא מסמן verdict. הסיבה: זריקת שגיאה מחזירה לקורא\n// תשובה ריקה וחסרת משמעות. במקום זה הענף הבא מחזיר 403 עם נימוק ברור.\n// ---------------------------------------------------------------------------\nconst crypto = require('crypto');\n\n// רשימת המאגרים שמותר לסרוק ללא חתימת GitHub (owner/repo, אותיות קטנות).\nconst ALLOWED_REPOS = [\n  'levi2599/cyber-management-project'\n];\n\n// הסוד המשותף. מוגדר כמשתנה סביבה על שרת ה-n8n:\n//   export GITHUB_WEBHOOK_SECRET='...'\nconst SECRET = $env.GITHUB_WEBHOOK_SECRET || '';\n\nconst item = items[0].json;\nconst headers = item.headers || {};\nconst body = item.body || {};\n\nfunction reject(reason) {\n  return [{ json: { ...item, verified: false, reject_reason: reason } }];\n}\n\nconst fullName = (body.repository && body.repository.full_name) || '';\nif (!fullName || fullName.split('/').length !== 2) {\n  return reject('missing or malformed repository.full_name');\n}\n\nconst signature = headers['x-hub-signature-256'] || headers['X-Hub-Signature-256'] || '';\n\nif (signature) {\n  // --- מסלול 1: בקשה חתומה מ-GitHub ---\n  if (!SECRET) {\n    return reject('signed request received but GITHUB_WEBHOOK_SECRET is not configured on the n8n server');\n  }\n  const expected = 'sha256=' + crypto\n    .createHmac('sha256', SECRET)\n    .update(JSON.stringify(body), 'utf8')\n    .digest('hex');\n\n  const a = Buffer.from(expected, 'utf8');\n  const b = Buffer.from(String(signature), 'utf8');\n  // timingSafeEqual דורש אורך זהה — בדיקת אורך מוקדמת מונעת חריגה.\n  const valid = a.length === b.length && crypto.timingSafeEqual(a, b);\n  if (!valid) {\n    return reject('invalid x-hub-signature-256 (HMAC mismatch)');\n  }\n} else {\n  // --- מסלול 2: הפעלה ידנית מדף התצוגה ---\n  if (!ALLOWED_REPOS.includes(fullName.toLowerCase())) {\n    return reject('unsigned request for a repository that is not in the allow-list (' + fullName + ')');\n  }\n}\n\nreturn [{ json: { ...item, verified: true, reject_reason: '' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        160
      ],
      "id": "1a111111-1111-1111-1111-111111111120",
      "name": "Verify Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "condv",
              "leftValue": "={{ $json.verified }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -848,
        160
      ],
      "id": "1a111111-1111-1111-1111-111111111123",
      "name": "If Verified"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'rejected', reason: $json.reject_reason }) }}",
        "options": {
          "responseCode": 403,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -624,
        -32
      ],
      "id": "1a111111-1111-1111-1111-111111111124",
      "name": "Respond Rejected"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.body.repository.full_name }}/pulls/{{ $json.body.number }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3.diff"
            },
            {
              "name": "User-Agent",
              "value": "n8n-dual-code-auditor"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": false,
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        160
      ],
      "id": "1a111111-1111-1111-1111-111111111111",
      "name": "Get PR Diff",
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', stage: 'fetch_pr_diff', reason: 'לא ניתן למשוך את ה-Diff מ-GitHub. סיבות אפשריות: ה-Pull Request אינו קיים, המאגר פרטי, או חריגה ממכסת ה-API.', detail: ($json.error && $json.error.message) || $json.message || '' }) }}",
        "options": {
          "responseCode": 502,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -512,
        -32
      ],
      "id": "1a111111-1111-1111-1111-111111111125",
      "name": "Respond Fetch Error"
    },
    {
      "parameters": {
        "jsCode": "// ---------------------------------------------------------------------------\n// Parse Diff — עיבוד מקדים של קובץ ה-Diff.\n// מטרה: להעביר ל-LLM רק את השורות שנוספו, במקום את ה-Diff הגולמי כולו.\n// זה מקטין את כמות הטוקנים ואת עלות ה-inference.\n// ---------------------------------------------------------------------------\nconst raw = items[0].json.data ?? items[0].json.body ?? items[0].json;\nconst diffText = typeof raw === 'string' ? raw : JSON.stringify(raw);\n\nconst hook = $('GitHub Webhook').item.json.body;\n\n// נתיב הקובץ הראשון שהשתנה ב-Diff.\nconst pathMatch = diffText.match(/^\\+\\+\\+ b\\/(.+)$/m);\nconst filePath = pathMatch ? pathMatch[1].trim() : '';\n\n// שורות שנוספו בלבד (מתעלמים מכותרות ה-Diff עצמן).\nconst addedLines = diffText\n  .split('\\n')\n  .filter((l) => l.startsWith('+') && !l.startsWith('+++'))\n  .map((l) => l.slice(1));\n\nconst addedCode = addedLines.join('\\n').trim();\n\nreturn [{\n  json: {\n    // אם לא זוהו שורות שנוספו — נשלח את הטקסט המלא כגיבוי.\n    code_to_analyze: addedCode || diffText,\n    source: 'github',\n    repo_owner: hook.repository.owner.login,\n    repo_name: hook.repository.name,\n    pr_number: hook.number,\n    branch: (hook.pull_request && hook.pull_request.head && hook.pull_request.head.ref) || 'main',\n    file_path: filePath,\n    diff_added_lines: addedLines.length,\n    diff_total_chars: diffText.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        160
      ],
      "id": "1a111111-1111-1111-1111-111111111112",
      "name": "Parse Diff"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sa1",
              "name": "code_to_analyze",
              "value": "={{ $json.code_to_analyze }}",
              "type": "string"
            },
            {
              "id": "sa2",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "sa3",
              "name": "repo_owner",
              "value": "={{ $json.repo_owner }}",
              "type": "string"
            },
            {
              "id": "sa4",
              "name": "repo_name",
              "value": "={{ $json.repo_name }}",
              "type": "string"
            },
            {
              "id": "sa5",
              "name": "pr_number",
              "value": "={{ $json.pr_number }}",
              "type": "number"
            },
            {
              "id": "sa6",
              "name": "branch",
              "value": "={{ $json.branch }}",
              "type": "string"
            },
            {
              "id": "sa7",
              "name": "file_path",
              "value": "={{ $json.file_path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        160
      ],
      "id": "1a111111-1111-1111-1111-111111111113",
      "name": "Set GitHub Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "n1",
              "name": "code_to_analyze",
              "value": "={{ $json.code_to_analyze }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        320
      ],
      "id": "1a111111-1111-1111-1111-111111111121",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the source code to analyze:\n\n```\n{{ $json.code_to_analyze }}\n```\n\nPlease execute your Red Team analysis.",
        "options": {
          "systemMessage": "אתה מומחה סייבר התקפי ואנליסט Red Team בכיר. תפקידך לבצע ניתוח מעמיק לקוד שסופק ולאתר חולשות אבטחה (כגון SQL Injection, XSS, Broken Auth). לכל חולשה, עליך להפיק דוח הכולל:\nתיאור טכני של הפגיעות.\nהוכחת היתכנות (PoC) המדגימה ניצול מעשי.\nמדדי CVSS 3.1 מלאים: עליך לחשב את ה-Exploitability Metrics (מדד המאמץ: AV, AC, PR, UI) ואת ה-Impact Metrics (מדד הנזק לפי CIA: Confidentiality, Integrity, Availability).\nCVSS Vector String: חובה להציג את המחרוזת המלאה כגון CVSS:3.1/AV:N/AC:L/PR:N/UI:R/S:U/C:H/I:L/A:N. התייחס למחרוזת זו כאל תעודת הזהות של החולשה.\n\nחשוב: אם לאחר בדיקה יסודית לא מצאת אף חולשה בקוד — אל תמציא חולשה. במקרה כזה החזר בדיוק את השורה: NO_VULNERABILITIES_FOUND, ואחריה משפט הסבר קצר. דיווח על חולשה שאינה קיימת (False Positive) הוא כישלון חמור לא פחות מהחמצת חולשה אמיתית."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        160,
        320
      ],
      "id": "1a111111-1111-1111-1111-111111111102",
      "name": "Red Team Agent",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        96,
        544
      ],
      "id": "1a111111-1111-1111-1111-111111111103",
      "name": "Red Team Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "LPxrYTHtpQAaan8j",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## הקוד המקורי שיש לתקן\n\n```\n{{ $('Normalize Input').item.json.code_to_analyze }}\n```\n\n## דוח הפגיעויות של הצוות האדום\n\n{{ $json.output }}\n\n## המשימה שלך\n\nהחזר את גרסת הקוד המתוקנת המלאה בתוך בלוק קוד יחיד ורציף (```), ואחריו הסבר על התיקונים.",
        "options": {
          "systemMessage": "אתה ארכיטקט אבטחה מצוות ה-Blue Team. תפקידך לבצע ריפוי (Self-Healing) לקוד הפגיע. אתה מקבל את הקוד המקורי במלואו ואת דוח הסוכן האדום, ועליך להתייחס ספציפית למדדי ה-CVSS שנמצאו. לדוגמה: אם ה-Attack Vector הוא Network, עליך להוסיף ולידציית קלט קשיחה.\n\nהפלט שלך חייב לכלול, בסדר הזה:\n1. את גרסת הקוד המתוקנת במלואה, בתוך בלוק קוד markdown יחיד (```). זהו הקוד שיידחף בפועל לריפו — הוא חייב להכיל קוד תקין ומלא בלבד, בלי הסברים בתוך הבלוק.\n2. מתחת לבלוק הקוד: הסבר מפורט על התיקונים שבוצעו וכיצד הם חוסמים את ה-PoC שהציג הסוכן האדום, תוך שמירה על עקרונות ה-CIA (סודיות, שלמות וזמינות).\n\nאם דוח הצוות האדום מכיל NO_VULNERABILITIES_FOUND — אל תשנה את הקוד. החזר את הטקסט NO_FIX_REQUIRED והסבר קצר, בלי בלוק קוד."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        448,
        320
      ],
      "id": "1a111111-1111-1111-1111-111111111104",
      "name": "Blue Team Agent",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        400,
        544
      ],
      "id": "1a111111-1111-1111-1111-111111111105",
      "name": "Blue Team Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "LPxrYTHtpQAaan8j",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ---------------------------------------------------------------------------\n// Build Report — שכבת ה-Formatting (שלב 4 בדרישות המטלה).\n//\n// אחראית על שלושה דברים:\n//   1. חילוץ מחרוזת וקטור ה-CVSS מתוך דוח הצוות האדום.\n//   2. חילוץ *הקוד בלבד* מתוך פלט הצוות הכחול. זה קריטי: פלט הסוכן מורכב\n//      מפרוזה בעברית + בלוק קוד. דחיפת הפלט הגולמי לריפו הייתה הורסת את\n//      קובץ המקור.\n//   3. הרכבת דוח Markdown קריא לפרסום ב-PR, בצ'אט וב-Google Drive.\n// ---------------------------------------------------------------------------\nconst base = $('Normalize Input').item.json;\nconst redOutput = String($('Red Team Agent').item.json.output || '');\nconst blueOutput = String($('Blue Team Agent').item.json.output || '');\n\n// --- 1. וקטור CVSS ---\nconst cvssMatch = redOutput.match(/CVSS:3\\.1\\/(?:[A-Z]{1,2}:[A-Z]\\/?)+/);\nconst cvssVector = cvssMatch ? cvssMatch[0].replace(/\\/$/, '') : '';\n\n// --- 2. חילוץ בלוק הקוד מפלט הצוות הכחול ---\nconst noVuln = /NO_VULNERABILITIES_FOUND/i.test(redOutput);\nconst noFix = /NO_FIX_REQUIRED/i.test(blueOutput);\n\nlet fixedCode = '';\nconst blocks = [...blueOutput.matchAll(/```[a-zA-Z0-9_+-]*\\n([\\s\\S]*?)```/g)].map((m) => m[1]);\nif (blocks.length > 0) {\n  // הבלוק הארוך ביותר הוא כמעט תמיד הקוד המתוקן המלא.\n  fixedCode = blocks.sort((a, b) => b.length - a.length)[0].trim();\n}\n\n// דוחפים Commit רק אם באמת יש חולשה, יש קוד מתוקן, ויש נתיב קובץ אמיתי.\nconst hasFixedCode = Boolean(\n  fixedCode &&\n  fixedCode.length > 20 &&\n  !noVuln &&\n  !noFix &&\n  base.file_path\n);\n\n// --- 3. דוח Markdown ---\nconst header = noVuln\n  ? '## ✅ מבקר הקוד הכפול — לא נמצאו חולשות'\n  : '## 🛡️ מבקר הקוד הכפול — דוח ביקורת אבטחה';\n\nconst reportParts = [\n  header,\n  '',\n  '| שדה | ערך |',\n  '| --- | --- |',\n  '| מקור הבדיקה | ' + (base.source === 'github' ? 'GitHub Pull Request' : 'הזנת קוד ידנית') + ' |',\n  '| קובץ | ' + (base.file_path || '—') + ' |',\n  '| וקטור CVSS 3.1 | ' + (cvssVector || '— (לא דווחה חולשה)') + ' |',\n  '| תיקון אוטומטי נדחף | ' + (hasFixedCode ? 'כן' : 'לא') + ' |',\n  '',\n  '### 🔴 ממצאי הצוות האדום (Red Team)',\n  '',\n  redOutput,\n  '',\n  '---',\n  '',\n  '### 🔵 תיקון הצוות הכחול (Blue Team)',\n  '',\n  blueOutput,\n  '',\n  '---',\n  '',\n  '_נוצר אוטומטית על ידי Dual Code Auditor · ' + new Date().toISOString() + '_'\n];\n\nreturn [{\n  json: {\n    ...base,\n    cvss_vector_string: cvssVector,\n    vulnerability_report: redOutput,\n    blue_team_output: blueOutput,\n    fixed_code: fixedCode,\n    has_fixed_code: hasFixedCode,\n    no_vulnerabilities_found: noVuln,\n    full_report: reportParts.join('\\n'),\n    log_file_name: 'DualCodeAuditor_' + new Date().toISOString().replace(/[:.]/g, '-') + '.md'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        320
      ],
      "id": "1a111111-1111-1111-1111-111111111106",
      "name": "Build Report"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.full_report }}",
        "name": "={{ $json.log_file_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        512
      ],
      "id": "1a111111-1111-1111-1111-111111111107",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YK2uWLU1IvWttgTg",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.source }}",
              "rightValue": "github",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        992,
        224
      ],
      "id": "1a111111-1111-1111-1111-111111111115",
      "name": "If GitHub Source"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "issue",
        "operation": "createComment",
        "owner": {
          "__rl": true,
          "value": "={{ $json.repo_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repo_name }}",
          "mode": "name"
        },
        "issueNumber": "={{ $json.pr_number }}",
        "body": "={{ $json.full_report }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1216,
        128
      ],
      "id": "1a111111-1111-1111-1111-111111111116",
      "name": "GitHub PR Comment",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond2",
              "leftValue": "={{ $('Build Report').item.json.has_fixed_code }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        128
      ],
      "id": "1a111111-1111-1111-1111-111111111122",
      "name": "If Has Fixed Code"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Build Report').item.json.repo_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Build Report').item.json.repo_name }}",
          "mode": "name"
        },
        "filePath": "={{ $('Build Report').item.json.file_path }}",
        "fileContent": "={{ $('Build Report').item.json.fixed_code }}",
        "commitMessage": "=Secure fix for {{ $('Build Report').item.json.cvss_vector_string || 'detected vulnerability' }} (auto-healed by Blue Team agent)"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1664,
        32
      ],
      "id": "1a111111-1111-1111-1111-111111111117",
      "name": "GitHub Push Commit",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', source: $('Build Report').item.json.source, repo: $('Build Report').item.json.repo_owner + '/' + $('Build Report').item.json.repo_name, pr_number: $('Build Report').item.json.pr_number, file_path: $('Build Report').item.json.file_path, cvss_vector_string: $('Build Report').item.json.cvss_vector_string, no_vulnerabilities_found: $('Build Report').item.json.no_vulnerabilities_found, commit_pushed: $('Build Report').item.json.has_fixed_code, report_markdown: $('Build Report').item.json.full_report }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1888,
        128
      ],
      "id": "1a111111-1111-1111-1111-111111111118",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', source: $json.source, file_path: $json.file_path, cvss_vector_string: $json.cvss_vector_string, no_vulnerabilities_found: $json.no_vulnerabilities_found, commit_pushed: false, report_markdown: $json.full_report }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1216,
        320
      ],
      "id": "1a111111-1111-1111-1111-111111111119",
      "name": "Respond Scan"
    }
  ],
  "connections": {
    "Set Chat Input": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "Verify Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Request": {
      "main": [
        [
          {
            "node": "If Verified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Verified": {
      "main": [
        [
          {
            "node": "Get PR Diff",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PR Diff": {
      "main": [
        [
          {
            "node": "Parse Diff",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Fetch Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Diff": {
      "main": [
        [
          {
            "node": "Set GitHub Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set GitHub Input": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Red Team Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Red Team Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Red Team Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Red Team Agent": {
      "main": [
        [
          {
            "node": "Blue Team Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blue Team Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Blue Team Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Blue Team Agent": {
      "main": [
        [
          {
            "node": "Build Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Report": {
      "main": [
        [
          {
            "node": "If GitHub Source",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If GitHub Source": {
      "main": [
        [
          {
            "node": "GitHub PR Comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub PR Comment": {
      "main": [
        [
          {
            "node": "If Has Fixed Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Fixed Code": {
      "main": [
        [
          {
            "node": "GitHub Push Commit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Push Commit": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Scan Webhook": {
      "main": [
        [
          {
            "node": "Set Chat Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}